.selectsForm {
  color: var(--text-color);
  padding: 20px;
  background: var(--bg-color);
  border-radius: var(--border-radius-s);
}

.selectsFormCollapse {
  display: grid;
  grid-template: 1fr / 1fr minmax(3px, 5px) 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--black-color);
  padding: 15px;
  background: var(--primary-color-gradient);
  border-radius: 40px;

  @media (max-width: 397px) {
    gap: 5px;
    padding: 12px;
  }
}

.selectsHeader {
  font-size: var(--font-size-m);
  text-transform: uppercase;

  @media (max-width: 397px) {
    font-size: var(--font-size-s);
  }
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selectName {
    color: var(--black-color);
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 30vw;
    max-width: 150px;

    @media (max-width: 397px) {
      font-size: var(--font-size-xs);
    }
  }
}

.separatorLine {
  height: 50px;
  width: 2px;
  border-radius: 15px;
  background-color: var(--black-color);

  @media (max-width: 397px) {
    height: 40px;
  }
}

.iconFigure {
  width: 45px;
  height: 45px;

  @media (max-width: 397px) {
    width: 35px;
    height: 35px;
  }

  >img {
    width: 100%;
    height: 100%;
    min-width: 45px;
    min-height: 45px;
    object-fit: contain;

    @media (max-width: 397px) {
      min-width: 35px;
      min-height: 35px;
    }
  }
}