.select {
  &__label {
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__input {
    border-radius: 30px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    &.active {
      opacity: 0.3;
      pointer-events: none;
    }
    &.selected {
      background: rgba(72, 172, 71, 1);
      // color: #000;
      font-weight: 500;
    }
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.active {
  opacity: 1;
  visibility: visible;
}
