.exchangers {
  padding-bottom: 25px; padding-top: 15px;

  .preloaderWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preloader{
    transform: scale(0.8);
  }
  > div {
    margin-bottom: -120px;
    margin-top: 50px;
  }
}