.exchangers {
  padding-bottom: 25px; padding-top: 15px;
  .preloader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > h3 {  
    color: rgba(255, 255, 255, 0.4); font-size: 12px; font-weight: 400; line-height: 1.7; text-align: center; 
    margin: 0 auto; max-width: 80%;
    
  }
}