.location {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, transform 0.2s ease-in-out;
  margin-bottom: 20px;

  &.location__active {
    position: static;
    opacity: 1;
    visibility: visible;
  }

  > header {
     padding: 10px;
     border-radius: 12px;
     background: #272826;
     position: relative;
     display: flex;
     align-items: center;
     color: #ffffff;

      > div {
          width: 30px;
          height: 30px;
          margin-right: 10px;

      > img {
          width: 100%;
          height: 100%;
          min-width: 30px;
          min-height: 30px;
          object-fit: contain;
        }
      }

      > h3 {
          max-width: 95%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          font-weight: 400;
          margin: 0;
          color: inherit;
      }
    }

  .modal {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
    position: relative;
  }
  .active {
    opacity: 1;
    visibility: visible;
  }
}