.location {
  margin-bottom: 20px;
  &__title {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  cursor: default;
}
.active {
  opacity: 1;
  visibility: visible;
}
