.option {
  display: grid;
  grid-template: 1fr / minmax(30px, 40px) 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.15s ease-in;
  &:hover {
    border-bottom: 1.5px solid rgb(46, 138, 230);
    transform: scale(0.985);
  }
  &:active {
    border-bottom: 1.5px solid rgb(46, 138, 230);
    transform: scale(0.985);
  }
  &__img {
    position: relative;
    height: 25vh;
    max-height: 40px;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center;
    }
  }
  &__body {
  }
  &__name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__code {
    font-size: 12px;
    font-weight: 400;
  }
}
