.valute {
  margin: 5px 0px;
  overflow: hidden;
  position: relative;
  color: var(--text-color);
  
  .valuteHeader {
    padding: 15px;
    border-radius: var(--border-radius-l);
    background: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    &:hover {
    }
    &:active{
    }

    > div {
      width: 45px;
      height: 45px;
      margin-right: 12px;
      
      > img {
        width: 100%;
        height: 100%;
        min-width: 45px;
        min-height: 45px;
        object-fit: contain;
      }
    }

    > h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: var(--font-size-m);
      font-weight: 600;
      color: inherit;

      .code {
        margin-left: 5px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
