// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root{

     @font-face {
     font-family: 'CodecCold-Light';
     src: local('CodecCold-Light'), url(./fonts/CodecCold-Light.ttf) format('truetype');
     }
     
     @font-face {
     font-family: 'CodecCold-Regular';
     src: local('CodecCold-Regular'), url(./fonts/CodecCold-Regular.ttf) format('truetype');
     }
     
     @font-face {
     font-family: 'CodecCold-Bold';
     src: local('CodecCold-Bold'), url(./fonts/CodecCold-Bold.ttf) format('truetype');
     }
     
     // Шрифты
     --font-family-light: 'CodecCold-Light', "Helvetica", sans-serif;
     --font-family-regular: 'CodecCold-Regular', "Helvetica", sans-serif;
     --font-family-bold: 'CodecCold-Bold', "Helvetica", sans-serif;
     //xs
     --font-size-xs: 12px;
     --font-line-xs: 16px;
     --font-size-ls:14px
     // s
     --font-size-s: 16px;
     --font-line-s: 20px;
 
     // m
     --font-size-m: 20px;
     --font-line-m: 24px;
 
     // l
     --font-size-l: 24px;
     --font-line-l: 32px;
 
     // xl
     --font-size-xl: 32px;
     --font-line-xl: 40px;

     --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
     --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
     --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
     --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

}