@import 'mixins.scss';
@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-regular);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.main__wrapper {
  background: #1a1a1a;
  height: 100%;
  width: 100vw;
  min-height: 100dvh;
  max-width: 500px;
  margin: 0 auto;
  color: #303030;

  @media (max-width: 367px) {
    .page__wrapper {
      padding: 0px 10px;
    }
  }
}

.page__wrapper {
  padding: 0px 15px;
}

.directionTab {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--modal-z-index - 1);
}

body.modal-open {
  overflow: hidden;
}