:root{
    --bg-color: #262826;
    --primary-color-gradient: linear-gradient(0deg, #026B45 0%, #3CAE6A 100%);
    --primary-color: #00DB82;
    --secondary-color: #3A3A3A;
    --text-color:#ffffff;
    --black-color: #111111;
    //border-radius
    --border-radius-s: 15px;
    --border-radius-m: 30px;
    --border-radius-full:50%;


    //индексы
    --modal-z-index: 1000;

    

    //directionTabs
    --direction_tabs-padding: 50px;
    --direction_tabs-margin-bottom:20px;
    //seceltsForm
    --selectsForm-padding:20px;
    
    //countryCard
    --countryCard-margin:5px 0px

    


    
}
//mixin border - radius
//