:root{
    --bg-color: #272826;
    --primary-color-gradient: linear-gradient(0deg, #026B45 0%, #3CAE6A 109%);
    --primary-color: #00DB82;
    --secondary-color: #585857;
    --text-color:#ffffff;
    --black-color: #111111;
    //border-radius
    --boder-radius-xs:5px;
    --border-radius-s: 15px;
    --border-radius-m: 30px;
    --border-radius-l: 40px;
    --border-radius-full:50%;

    --border-radius-filter-tab-item:10px;

    //индексы
    --modal-z-index: 1000;

    

    //directionTabs
    --direction_tabs-padding: 50px;
    --direction_tabs-margin-bottom:20px;
    //seceltsForm
    --selectsForm-padding:20px;
    
    //countryCard
    --countryCard-margin:5px 0px

    


    
}
//mixin border - radius
//