.main {
  position: relative;
  .container {
    .resultArrow {
      margin-top: -10px;
      display: flex; justify-content: center;
    }
    .languageSwitcher{
      display: flex; justify-content: center; position: relative;
      
    }
  }
}
