.main {
  position: relative;
  
  .container {

    .resultArrow {
      margin-top: -10px;
      display: flex; justify-content: center;
    }
    
    .languageSwitcher{
      padding: 130px 0px 30px 0px;
      display: flex; justify-content: center;
    }
  }
}