.main {
  .selects {
    background: rgba(14, 67, 121, 0.1);
    border: 1.5px solid #00ff85;
    color: #fff;
    padding: 20px;
    border-radius: 25px;
  }
  .exchangers {
    padding: 25px 0px;
  }
  .empty {
    text-align: center;
    font-size: 12px;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
  }
}
