.select {
}
.select__label {
  font-size: 14px;
  margin-bottom: 15px;
}
.select__input {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select__input span {
  color: rgba(255, 255, 255, 0.6);
}
.select__input.active {
  opacity: 0.3;
  pointer-events: none;
}
.input__icon {
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.active {
  opacity: 1;
  visibility: visible;
}
