.city {
  h3 {
    padding: 10px 15px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
  }
}
