.preloaderContainer {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.preloaderFullHeight {
  height: 100vh;
}

.preloaderOpcacity {
  opacity: 0;
  transform: scale(3.2);
  transition: opacity 0.3s ease-in, transform 0.5s ease-out;
}