.search {
  position: relative;
  border-radius: 12px;
  padding: 10px 10px 10px 50px;
  background: #111111;
  width: 100%;
  font-size: 18px;
  color: #585857;
  margin-bottom: 15px;

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  > input {
    border: none;
    background: transparent;
    color: #fff;
    width: 100%;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }
}
