.search {
  margin-bottom: 10px;
  position: relative;
}
.search__icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.search__input {
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 14px;
  padding: 10px 10px 10px 40px;
}
.search__input:focus {
  outline: none;
}
