.modal {
  &__body {
  }
  &__filter {
    padding: 20px 0px;
  }
  &__options {
    max-height: 80vh;
    overflow-y: scroll;
  }
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: #909090;
    height: 90dvh;
  }
}
