.languageSwitcher{
  color:var(--text-color);
  padding: 8px; max-width: 400px; height: 44px; width: 80%;
  background-color: var(--secondary-color); border-radius: var(--border-radius-m);
  display: flex; align-items: center; justify-content: space-between;

  > label {
    font-size: var(--font-size-s); margin-left: 10px;
    user-select: none;
  }

  @media (max-width: 420px) {
    width: 90%;

    > label {
      font-size: var(--font-size-xs);
    }
  }
}
