.switch {
    width: 60px;
    height: 30px;
    position: relative;
    display: inline-block;
    outline: none;
  }
  
  .switchInput {
    display: none;
   
  }
  
  .switchSpan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    background: #272826;
    border-radius: var(--border-radius-m);
    
  }
  
  .switchSpan::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 2.6px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .switchInput:checked + .switchSpan::before {
    transform: translateX(29px);
    background-color: var(--primary-color-switch);
    
  }
  