.direction_tabs {
  margin: 0 auto; padding-top: 50px; margin-bottom: 20px;
  display: grid; gap: 10px; grid-template: 1fr / 1fr 1fr;
}
.direction_tabs_item {
  color: var(--text-color); 
  font-size: var( --font-size-m); text-align: center;
  padding: 20px;
  background: var(--secondary-color); border-radius: var(--border-radius-m);

  @media (max-width: 420px) {
    font-size: 18px;
    padding: 18px;
    border-radius: 20px;
  }

  @media (max-width: 367px) {
    font-size: var(--font-size-s);
    padding: 15px;
    border-radius: var(--border-radius-s);
  }
}
.active_direction {
  color: var(--black-color);
  background: var(--primary-color-gradient); border: 1px solid var(--primary-color);
}