.direction_tabs {
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 20px;
  display: grid;
  gap: 10px;
  grid-template: 1fr / 1fr 1fr;
}
.direction_tabs_item {
  background: #585857;
  color: #ffffff;
  border-radius: 25px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.active_direction {
  background: #3CAE6A;
  border: 1px solid #6beea4;
  color: #111111;
}