.arrowIcon {font-size: 24px}

.arrowResultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 24px;
    border: none;
    background-color: #3CAE6A;
    border-radius: 16px;
    transition: width 0.3s ease;
}

.activeResultContainer {width: 82px}