.modal {
  height: 90vh;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(30, 30, 30);
  color: #303030;
  z-index: 99;
  border-radius: 30px;
  overflow: hidden;
  
  > i {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 99;
  }
}
