.filter {
    width: 100%;
    margin-bottom: 15px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    overflow: hidden;
}


.filter_tab_item {
    color: var(--text-color); font-size:var(--font-size-s); font-weight: 500; white-space: nowrap;
    display:flex; justify-content: center;
    padding: 12px;
    letter-spacing: -0.8px;
    border-radius: var(--border-radius-filter-tab-item); border:none; user-select: none;
    border: 1px solid var(--primary-color);
}