.switcher__icon {
    padding: 35px 0px; position: relative;
    display: flex; justify-content: center; align-items: center;

    .icon {
      display: flex; justify-content: center; align-items: center;
      z-index: 2;
    }

    &::before {
      content: " ";
      padding: 22.5px; position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: #585857; border-radius: var(--border-radius-full);
    }

    &::after {
      content: " ";
      padding: 2px; width: 100%; position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: #585857; border-radius: var( --boder-radius-xs);
    }

    &.active {
      &::before {background: var(--primary-color);}
      &::after {background:  var(--primary-color);}
    }
}
