.country {
  color: var(--text-color);
  margin: 5px 0px; position: relative; overflow: hidden;
  
  > header {
    padding: 10px; position: relative;
    background: var(--secondary-color); border-radius: var(--border-radius-l);
    display: flex; align-items: center;
    transition: all 0.2s ease-in;

    > figure {
      margin-right: 0px; width: 50px; height: 50px;
      
      > img {width: 100%; height: 100%; min-width: 50px; min-height: 50px; object-fit: contain;}
    }

    > h3 {
      color: inherit; font-size: var(--font-size-m); font-weight: 500; white-space: nowrap; text-overflow: ellipsis; 
      margin: 0; max-width: 75%; overflow: hidden;
    }

    > i {
      margin-left: 20px; position: absolute; right: 15px; 
      // top: 50%;
      transform: translateY(-50%);
      
      display: flex; justify-content: center; align-items: center;
    }
  }
  
  > section {max-height: 0; overflow: hidden; opacity: 0;}

  .active {
    // max-height: 200vh; overflow: auto; opacity: 1;  
    // transition: max-height 0.7s ease-out, opacity 0.5s ease-out 0.1s;
  }

  .active_country {
    color: var(--black-color);
    background: var(--primary-color-gradient); border: 1px solid var(--primary-color);
    margin-top: 5px;

    > h3 {
      max-width: 80%;
    }
  }
}

.active__container {
  margin-bottom: 10px;
}