.country {
  margin: 5px 0px;
  overflow: hidden;
  position: relative;
  color: #fff;
  
  > header {
    padding: 10px;
    border-radius: 40px;
    background: #585857;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    > div {
      width: 50px;
      height: 50px;
      margin-right: 7px;
      
      > img {
        width: 100%;
        height: 100%;
        min-width: 50px;
        min-height: 50px;
        object-fit: contain;
      }
    }

    > h3 {
      max-width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      color: inherit;
    }

    > i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  > section {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  .active {
      max-height: 100vh;
      opacity: 1;
      transition: max-height 0.7s ease-out, opacity 0.5s ease-out 0.1s;
      overflow: auto;
  }

  .active_country {
    background: #3CAE6A;
    color: #111111;
    border: 1px solid #6beea4;
  }
}