.country {
  margin: 5px 0px;
  overflow: hidden;
  position: relative;
  
  header {
    padding: 20px 15px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    div {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      max-width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      font-weight: 500;
    }

    span {
      font-size: 14px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  section {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  .active {
      max-height: 100vh;
      opacity: 1;
      transition: max-height 0.7s ease-out, opacity 0.5s ease-out 0.1s;
  }

  .active_country {
    background: rgba(72, 172, 71, 1);
    color: #fff;
  }
}
