.exchangerItem {
  color: #fff;
  margin-bottom: 15px; padding: 20px;
  background: #272826; border-radius: 30px;  
  transition: transform 0.15s ease-in;

  &:hover {transform: translateX(5px)}
  &:active {transform: translateX(5px)}

  > header {
    position: relative;

    > hgroup {
      h2 {font-size: 20px; font-weight: 600;}
      h3 {
        color: #3CAE6A; font-size: 14px; text-align: left;
        margin: 0;
      }
    }
  }

  > hr {margin: 10px -20px; border-color: #585857;}

  > footer {
    > hgroup {
      display: flex; align-items: center;

      > h2 {
        color: #ffffff; font-size: 20px;
        padding-right: 55px; position: relative;

        > span {color: rgba(255, 255, 255, 0.7); font-size: 18px;}

        > i {
          margin: 0px 10px; position: absolute; right: 0; top: 40%;
          transform: translate(0, -40%);
        }
      }
    }

    > span {color: #3CAE6A; font-size: 14px;}
  }
}