

.exchangerCard {
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.15s ease-in;
  background: var(--bg-color);
  border-radius: 30px;
  padding: 20px;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.15s ease-in;

  .cardLink {
    color: inherit;
    text-decoration: none;
  }

  .cardHeader {
    position: relative;

    .cardInfo {
      .cardName {
        font-size: var(--font-size-m);
        font-weight: 500;
      }

      .cityName {
        color: var(--primary-color);
        font-size: var(--font-size-ls);
        text-align: left;
        margin: 0;
        font-weight: 500;
      }
    }
  }

  .cardSeparator {
    margin: 10px -20px;
    border-color: var(--secondary-color);
  }

  .cardFooter {
    .valuteInfo {
      display: flex;
      align-items: center;

       .valuteExchange {
        font-size: var(--font-size-m);
        color: var(--text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

         .valuteValue {
          margin-top: 5px;
        }

         .valuteIcon {
          width: 30px;
          height: 30px;
          margin-left: 5px;

           .valuteImage {
            width: 100%;
            height: 100%;
            min-width: 30px;
            min-height: 30px;
            object-fit: contain;
          }
        }

         .arrowIcon {
          position: absolute;
          right: 0;
          top: 40%;
          transform: translate(0, -40%);
          margin: 0px 10px;
        }
      }

       .valuteExchange:first-child {
        position: relative;
        padding-right: 55px;
      }
    }

     .valuteRange {
      font-size: var(--font-size-ls);
      color: var(--primary-color);
    }
  }
}
