.exchangerItem {
  margin-bottom: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: transform 0.15s ease-in;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.15s ease-in;

  &:hover {transform: translateX(5px)}
  &:active {transform: translateX(5px)}

  > header {
    > hgroup {
      > h2 {
        font-size: 28px;
        font-weight: 600;
      }
      > h3 {
        color: rgba(72, 172, 71, 1);
        font-size: 18px;
        text-align: left;
        margin: 0;
      }
    }
  }

  > hr {margin: 10px 0}

  > footer {
    .exchangerRate {
      display: flex;
      align-items: center;
      padding: 0px;

      > p {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.7);

        > mark {
          background: none;
          color: #fff;
          font-weight: 900;
        }
      }

      > i {margin: 0px 10px}
    }

    > span {color: rgba(72, 172, 71, 1)}
  }
}